# Node
node_modules/
node-bin/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.tsbuildinfo

# SQLite Database and Uploads
/server/data/*
!/server/data/.gitkeep

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and System files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/
